﻿@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- <meta http-equiv="refresh" content="1"> -->
    <title>BRGVote - @ViewData["Title"]</title>

    <environment include="Development">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
        <link rel="stylesheet" href="~/css/site.css"/>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true"/>
    </environment>
    <style>
        .table > tbody > tr > td { vertical-align: middle !important; }

        .table > tbody > tr > td > .progress { margin-bottom: 0px !important; }
    </style>
    <script type="text/javascript">
        var timer = setTimeout(function() {
                window.location = window.location;
            },
            2000);

        function stopRefresh() {
            clearTimeout(timer);
        }
    </script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-inverse">
    <a class="navbar-brand" href="#">BRG Voting System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav navbar-nav">
            <li>
                <a class="nav-link" asp-page="/vote">Abstimmen</a>
            </li>
            @if (!string.IsNullOrEmpty(Context.Session.GetString("authenticatedUser")) && JsonConvert.DeserializeObject<User>(Context.Session.GetString("authenticatedUser")).Name.Equals("admin"))
            {
                <li>
                    <a class="nav-link" asp-page="/admin">Übersicht</a>
                </li>
                <li>
                    <a class="nav-link" target="_blank" asp-page="/log">Mitschrift</a>
                </li>
            }
        </ul>
        <ul class="nav navbar-nav navbar-right">
            @if (!string.IsNullOrEmpty(Context.Session.GetString("authenticatedUser")))
            {
                <li>
                    <a class="nav-link" asp-page="/logout">Abmelden</a>
                </li>
            }
        </ul>
    </div>
</nav>
<div class="container body-content">
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - BRG Salzburg/Simon Hausmann</p>
    </footer>
</div>

<environment include="Development">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</environment>
<environment exclude="Development">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</environment>

@RenderSection("Scripts", false)
</body>
</html>