﻿@page
@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@model AdminModel
@{
    if (string.IsNullOrEmpty(Model.HttpContext.Session.GetString("authenticatedUser")) ||
        !JsonConvert.DeserializeObject<User>(Model.HttpContext.Session.GetString("authenticatedUser")).Name.Equals("admin"))
    {
        return;
    }
    ViewData["Title"] = "Admin";
    Layout = "_RefreshLayout";
}
<br/>
<h3>
    Aktuelles Thema: @(Program.Data.CurrentTopic != null ? Program.Data.CurrentTopic.Title : "nA")
    @(Program.Data.CurrentTopic != null ? Html.Raw("(" + (Program.Data.TopicList.FindIndex(t => t.Title.Equals(Program.Data.CurrentTopic.Title)) + 1) + "/" + Program.Data.TopicList.Count + ")") : Html.Raw("(0/" + Program.Data.TopicList.Count + ")"))

    @if (Program.Data.TopicList.Count > 0 && Program.Data.CurrentTopic == null || Program.Data.CurrentTopic != null && Program.Data.CurrentTopic.GetVoteStatus() == VotingStateEnum.Ended && Program.Data.TopicList.FindIndex(t => t.Title.Equals(Program.Data.CurrentTopic.Title)) != Program.Data.TopicList.Count - 1)
    {
        <a class="btn btn-info" href="/config?action=nextTopic">
            Nächstes Thema
        </a>
    }

    @if (Program.Data.CurrentTopic != null)
    {
        if (Program.Data.CurrentTopic.GetVoteStatus() == VotingStateEnum.Idle && Program.Data.CurrentVote == null)
        {
            <a href="/config?action=starttopicvote" class="btn btn-success">Abstimmung starten</a>
        }
        if (Program.Data.CurrentTopic.GetVoteStatus() == VotingStateEnum.Voting)
        {
            <a href="/config?action=endtopicvote" class="btn btn-danger">Abstimmung beenden</a>
        }
    }
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addTopicModal" data-backdrop="static" data-keyboard="false" onclick="stopRefresh()">
        Thema hinzufügen
    </button>
</h3>

<div class="modal fade" id="addTopicModal" tabindex="-1" role="dialog" aria-labelledby="addTopicModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Diskussionspunkt hinzufügen</h5>
            </div>
            <form action="/config" method="get">
                <div class="modal-body">
                    <div class="form-group">
                        <input type="hidden" name="action" value="addTopic"/>
                        <input type="text" class="form-control" id="topicName" name="topicName" placeholder="Titel">
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-danger" href="/admin">Abbrechen</a>
                    <button type="submit" class="btn btn-primary">Bestätigen</button>
                </div>
            </form>
        </div>
    </div>
</div>

@if (Program.Data.CurrentTopic != null)
{
    if (Program.Data.CurrentTopic.GetVoteStatus() == VotingStateEnum.Voting || Program.Data.CurrentTopic.GetVoteStatus() == VotingStateEnum.Ended)
    {
        <h4>Abstimmungsstatus</h4>
        var e = Program.Data.CurrentTopic;
        if (e.GetVoteStatus() == VotingStateEnum.Voting)
        {
            <div class="progress" style="height: 25px; font-size: 13px">
                <div class="progress-bar bg-success" role="progressbar" style="width: @(100f / (Program.Data.UserList.FindAll(p => p.loggedIn).Count == 0 ? 1 : Program.Data.UserList.FindAll(p => p.loggedIn).Count) * e.getVoteCount(VoteEnum.Agree))%">@e.getVoteCount(VoteEnum.Agree)</div>
                <div class="progress-bar bg-danger" role="progressbar" style="width: @(100f / (Program.Data.UserList.FindAll(p => p.loggedIn).Count == 0 ? 1 : Program.Data.UserList.FindAll(p => p.loggedIn).Count) * e.getVoteCount(VoteEnum.Disagree))%">@e.getVoteCount(VoteEnum.Disagree)</div>
                <div class="progress-bar bg-warning" role="progressbar" style="width: @(100f / (Program.Data.UserList.FindAll(p => p.loggedIn).Count == 0 ? 1 : Program.Data.UserList.FindAll(p => p.loggedIn).Count) * e.getVoteCount(VoteEnum.Abstain))%">@e.getVoteCount(VoteEnum.Abstain)</div>
                <div class="progress-bar bg-info" role="progressbar" style="width: @(100f / (Program.Data.UserList.FindAll(p => p.loggedIn).Count == 0 ? 1 : Program.Data.UserList.FindAll(p => p.loggedIn).Count) * (Program.Data.UserList.FindAll(p => p.loggedIn).Count - e.Votes.Count))%">@(Program.Data.UserList.FindAll(p => p.loggedIn).Count - e.Votes.Count)</div>
            </div>
        }

        else if (e.GetVoteStatus() == VotingStateEnum.Ended)
        {
            <div class="progress" style="height: 25px; font-size: 13px">
                @if (e.getVoteResult() == VoteResultEnum.Angenommen)
                {
                    <div class="progress-bar bg-success" style="width: 100%">@e.getVoteResultStr()</div>
                }
                else if (e.getVoteResult() == VoteResultEnum.Abgelehnt)
                {
                    <div class="progress-bar bg-danger" style="width: 100%">@e.getVoteResultStr()</div>
                }
                else if (e.getVoteResult() == VoteResultEnum.Gleichstand)
                {
                    <div class="progress-bar bg-warning" style="width: 100%">@e.getVoteResultStr()</div>
                }
                else if (e.getVoteResult() == VoteResultEnum.ZuWenigStimmen)
                {
                    <div class="progress-bar bg-info" style="width: 100%">@e.getVoteResultStr()</div>
                }
            </div>
        }
        <br>
        <br>
    }
    <h4>Anträge</h4>
    <table class="table table-hover">
        <thead>
        <th>Details</th>
        <th>Abstimmung</th>
        <th>Aktionen</th>
        </thead>
        <tbody>

        @foreach (var e in Program.Data.CurrentTopic.Proposals)
        {
            <tr>
                <td width=50%>
                    @e.Type: @e.Title (@e.User.Name)
                </td>
                <td>
                    @if (e.GetVoteStatus() == VotingStateEnum.Idle)
                    {
                        <i>Die Abstimmung wurde noch nicht gestartet</i>
                    }
                    else if (e.GetVoteStatus() == VotingStateEnum.Voting)
                    {
                        <div class="progress" style="height: 25px; font-size: 13px">
                            <div class="progress-bar bg-success" role="progressbar" style="width: @(100f / (Program.Data.UserList.FindAll(p => p.loggedIn).Count == 0 ? 1 : Program.Data.UserList.FindAll(p => p.loggedIn).Count) * e.getVoteCount(VoteEnum.Agree))%">@e.getVoteCount(VoteEnum.Agree)</div>
                            <div class="progress-bar bg-danger" role="progressbar" style="width: @(100f / (Program.Data.UserList.FindAll(p => p.loggedIn).Count == 0 ? 1 : Program.Data.UserList.FindAll(p => p.loggedIn).Count) * e.getVoteCount(VoteEnum.Disagree))%">@e.getVoteCount(VoteEnum.Disagree)</div>
                            <div class="progress-bar bg-warning" role="progressbar" style="width: @(100f / (Program.Data.UserList.FindAll(p => p.loggedIn).Count == 0 ? 1 : Program.Data.UserList.FindAll(p => p.loggedIn).Count) * e.getVoteCount(VoteEnum.Abstain))%">@e.getVoteCount(VoteEnum.Abstain)</div>
                            <div class="progress-bar bg-info" role="progressbar" style="width: @(100f / (Program.Data.UserList.FindAll(p => p.loggedIn).Count == 0 ? 1 : Program.Data.UserList.FindAll(p => p.loggedIn).Count) * (Program.Data.UserList.FindAll(p => p.loggedIn).Count - e.Votes.Count))%">@(Program.Data.UserList.FindAll(p => p.loggedIn).Count - e.Votes.Count)</div>
                        </div>
                    }
                    else if (e.GetVoteStatus() == VotingStateEnum.Ended)
                    {
                        <div class="progress" style="height: 25px; font-size: 13px">
                            @if (e.getVoteResult() == VoteResultEnum.Angenommen)
                            {
                                <div class="progress-bar bg-success" style="width: 100%">@e.getVoteResultStr()</div>
                            }
                            else if (e.getVoteResult() == VoteResultEnum.Abgelehnt)
                            {
                                <div class="progress-bar bg-danger" style="width: 100%">@e.getVoteResultStr()</div>
                            }
                            else if (e.getVoteResult() == VoteResultEnum.Gleichstand)
                            {
                                <div class="progress-bar bg-warning" style="width: 100%">@e.getVoteResultStr()</div>
                            }
                            else if (e.getVoteResult() == VoteResultEnum.ZuWenigStimmen)
                            {
                                <div class="progress-bar bg-info" style="width: 100%">@e.getVoteResultStr()</div>
                            }
                        </div>
                    }
                </td>
                <td>
                    @if (e.GetVoteStatus() == VotingStateEnum.Idle && Program.Data.CurrentVote == null)
                    {
                        <a href="/config?action=startvote&index=@Program.Data.CurrentTopic.Proposals.IndexOf(e)" class="btn btn-success btn-sm">Abstimmung starten</a>
                    }
                    else if (e.GetVoteStatus() == VotingStateEnum.Voting)
                    {
                        <a href="/config?action=endvote&index=@Program.Data.CurrentTopic.Proposals.IndexOf(e)" class="btn btn-danger btn-sm">Abstimmung beenden</a>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
}

<br>
<h4>Wortmeldungen</h4>
<table class="table table-hover">
    <thead>
    <th>Nutzer</th>
    <th>Zusammenfassung</th>
    <th>Aktionen</th>
    </thead>
    <tbody>
    @foreach (var s in Program.Data.SpeechList.FindAll(s => !s.complete))
    {
        <tr>
            <td width="30%">@s.User.Name</td>
            <td width="60%">@s.Summary</td>
            <td width="10%">
                <a href="/config?action=dismissSpeech&index=@Program.Data.SpeechList.IndexOf(s)" class="btn btn-success btn-sm">Fertig</a>
            </td>
        </tr>
    }
    </tbody>
</table>

<p>Es sind @(Program.Data.UserList.FindAll(p => p.loggedIn).Count) von @(Program.Data.UserList.Count - 1) ordentlichen Delegierten angemeldet.</p>