﻿@page
@using Microsoft.ApplicationInsights.Extensibility
@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@model LogModel
@{
    if (string.IsNullOrEmpty(Model.HttpContext.Session.GetString("authenticatedUser")) ||
        !JsonConvert.DeserializeObject<User>(Model.HttpContext.Session.GetString("authenticatedUser")).Name.Equals("admin"))
    {
        return;
    }
    ViewData["Title"] = "Mitschrift (autom. generiert)";
    Layout = "_BaseLayout";
}
<br/>

@foreach (var t in Program.Data.TopicList)
{
    <h3>
        Diskussionspunkt: @t.Title
    </h3>
    <p>
        Abstimmungsergebnis: @t.getVoteResultStr()
        <table class="table table-striped">
            <thead>
            <th>Details</th>
            <th>Abstimmung</th>
            </thead>
            <tbody>
            @foreach (var p in t.Proposals)
            {
                <tr>
                    <td>@p.Type: @p.Title (@p.User.Name)</td>
                    <td>@p.getVoteResultStr()</td>
                </tr>
            }
            </tbody>
        </table>
        <br/>
    </p>
}

<h4>Wortmeldungen</h4>
<table class="table table-striped">
    <thead>
    <th>Nutzer</th>
    <th>Zusammenfassung</th>
    </thead>
    <tbody>
    @foreach (var s in Program.Data.SpeechList.FindAll(s => s.complete))
    {
        <tr>
            <td>@s.User.Name</td>
            <td>@s.Summary</td>
        </tr>
    }
    </tbody>
</table>

<p>Es waren @(Program.Data.UserList.FindAll(p => p.loggedIn).Count) von @(Program.Data.UserList.Count - 1) ordentlichen Delegierten angemeldet.</p>