﻿@page
@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@model LoginModel
@{
    if (!string.IsNullOrEmpty(Model.HttpContext.Session.GetString("authenticatedUser")))
    {
        Model.HttpContext.Response.Redirect(!JsonConvert.DeserializeObject<User>(Model.HttpContext.Session.GetString("authenticatedUser")).Name.Equals("admin") ? "/config" : "/vote");
        return;
    }

    ViewData["Title"] = "Anmeldung";
    Layout = "_Layout";
}
<h2>@ViewData["Title"]</h2>

<form action="action" method="get">
    <div class="form-group">
        <input type="text" class="form-control" id="loginInput" name="login" placeholder="Code">

    </div>
    <button type="submit" class="btn btn-primary">Anmelden</button>
</form>