﻿@page
@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@model VoteModel
@{
    if (string.IsNullOrEmpty(Model.HttpContext.Session.GetString("authenticatedUser")))
    {
        return;
    }
    ViewData["Title"] = "Abstimmung";
    if (Model.AlreadyVoted || Program.Data.CurrentVote == null)
    {
        Layout = "_RefreshLayout";
    }

    else
    {
        Layout = "_Layout";
    }
}
<br>
<h2>
    Aktueller Diskussionspunkt: @(Program.Data.CurrentTopic == null ? "nA" : Program.Data.CurrentTopic.Title)
    @if (Program.Data.CurrentVote == null)
    {
        if (Program.Data.SpeechList.FindAll(p => p.User.Name.Equals(JsonConvert.DeserializeObject<User>(Model.HttpContext.Session.GetString("authenticatedUser")).Name) && p.complete == false).Count == 0)
        {
            <button type="button" class="btn btn-primary" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#newSpeechModal" 
                    onclick="stopRefresh()">Wortmeldung</button>
        }
        if (Program.Data.CurrentTopic != null && Program.Data.CurrentTopic.GetVoteStatus() == VotingStateEnum.Idle && Program.Data.CurrentTopic.Proposals.FindAll(
            p => p.User.Name.Equals(JsonConvert.DeserializeObject<User>(Model.HttpContext.Session.GetString("authenticatedUser")).Name) && p.GetVoteStatus() != VotingStateEnum.Ended).Count == 0)
        {
            <button type="button" class="btn btn-info" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#newExtensionProposalModal" 
                    onclick="stopRefresh()">Erweiterungsantrag</button>
            <button type="button" class="btn btn-info" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#newChangeProposalModal" 
                    onclick="stopRefresh()">Änderungsantrag</button>
        }
    }
</h2>


<div class="modal fade" id="newSpeechModal" tabindex="-1" role="dialog" aria-labelledby="newSpeechModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Neue Wortmeldung</h5>
            </div>
            <form action="/vote" method="get">
                <div class="modal-body">
                    <div class="form-group">
                        <input type="hidden" name="action" value="newSpeech"/>
                        <input type="text" class="form-control" id="summary" name="summary" placeholder="Zusammenfassung" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-danger" href="/vote">Abbrechen</a>
                    <button type="submit" class="btn btn-primary">Bestätigen</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="newExtensionProposalModal" tabindex="-1" role="dialog" aria-labelledby="newExtensionProposalModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Neuer Erweiterungsantrag zum Thema: @Program.Data.CurrentTopic?.Title</h5>
            </div>
            <form action="/vote" method="get">
                <div class="modal-body">
                    <div class="form-group">
                        <input type="hidden" name="action" value="newExtensionProposal"/>
                        <input type="text" class="form-control" id="summary" name="summary" placeholder="Zusammenfassung" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-danger" href="/vote">Abbrechen</a>
                    <button type="submit" class="btn btn-primary">Bestätigen</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="newChangeProposalModal" tabindex="-1" role="dialog" aria-labelledby="newChangeModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Neuer Änderungsantrag zum Thema: @Program.Data.CurrentTopic?.Title</h5>
            </div>
            <form action="/vote" method="get">
                <div class="modal-body">
                    <div class="form-group">
                        <input type="hidden" name="action" value="newChangeProposal"/>
                        <input type="text" class="form-control" id="summary" name="summary" placeholder="Zusammenfassung" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-danger" href="/vote">Abbrechen</a>
                    <button type="submit" class="btn btn-primary">Bestätigen</button>
                </div>
            </form>
        </div>
    </div>
</div>

@if (Program.Data.CurrentVote != null)
{
    <h4>Vote for @Program.Data.CurrentVote.GetType().ToString().Split(".")[1]: @Program.Data.CurrentVote.Title</h4>
    if (!Model.AlreadyVoted)
    {
        <a class="btn btn-lg btn-success" href="/vote?v=agree">
            Zustimmen
        </a>
        <a class="btn btn-lg btn-danger" href="/vote?v=disagree">
            Ablehnen
        </a>
        <a class="btn btn-lg btn-warning" href="/vote?v=abstain">
            Enthalten
        </a>
    }

    if (Model.AlreadyVoted)
    {
        @Html.Raw("You already voted!")
        <br>
        <button class="btn btn-success disabled">Zustimmen</button>
        <button class="btn btn-danger disabled">Ablehnen</button>
        <button class="btn btn-warning disabled">Enthalten</button>
    }
}